@media (min-width:769px) {
h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
}
.header-container {
    max-width: 1159px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px 0px 50px 0px;
    
    max-width: 1159px;
 

}
.logo {
    padding-left: 10px;
}
.menu-svg {
    display: none;
}

.header-nav {
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-left: 0;
    padding-right: 70px;
    color: #434455;
    
}
.header-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 100px;
    
}

.mail {
    display: inline;
    font-style: normal;
}

.tel {
    display: inline;
    font-style: normal;
}

.container1 {
    display: flex;
    max-width: 1440px;
    max-height: 600px;
    
}
.sc1-h1 {
    padding: 50px 400px 10px 400px ;
    margin-top: 50px;
   
}

.os-button {
    margin-bottom: 50px;
}
.sc2 {
padding: 70px 50px;

}
.container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1440px;
     background-color: white;
    flex-wrap: nowrap;
    
}
.sc2-card-div {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
   
}
 .antenna, .diagram, .clock, .astronaut {
    width: 64px;
    height: 64px;
    margin: 20px;
    display: flex;
    
   
}
.sc2-svg-cont {
    display: flex;
    border: 1px solid #8E8F99;
    max-width: 264px;
    background-color: #F4F4FD;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2%;
    justify-content: center;
    align-items: center;
   
    
}   


.sc2-card-div h3 {
    font-weight: 700;
    padding-top: 10px;
    text-align: start;

}
.sc2-card-div>svg {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sc3 {
    background-color: #F4F4FD;
    max-width: 1440px;
}
.container3 {
    display: flex;
    max-width: 1159px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 100px;
    margin: 0 auto;
   
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px;
}
.sc3-card {
    display: flex;
   flex-direction: column;
   gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    height: 428px;
}
.sm-div {
    padding-bottom: 20px;
}
.sc4 {
    max-width: 1440px;
    gap: 10px;
    flex-direction: column;
   
}
.container4 {
    max-width: 1140px;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}
.sc4-card{
    width: 360px ;
    flex-basis: calc((100% - 100px) / 3);
}
.sc4-card {
 position: relative;
  overflow: hidden; 
  border: #E7E9FC solid 1px;
  text-align: center;
    
}

.pcard {
    position: relative;
    z-index: 999;
    background-color:white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  color: #E7E9FC;

  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  
}
.container4 .sc4-card:hover .overlay {
    transform: translateY(0);
  }
footer {
    max-width: 1440px;
    background-color: #2E2F42;
}
.footer-container {
    max-width: 1159px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    margin: 0 auto;
}
.footer-logo {
    max-width: 264px;
    margin-left: 20px;
}
.footer-sm {
 padding-bottom: 50px;
}
.footer-f {
    flex-direction: row ;
    gap: 50px;
}
.footer-label-email {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    text-align: start;
    
}
.footer-email {
    padding-left: 20px;
}
.footer-submit-button {
    text-align: start;
    padding-left: 30px;
}
.subscribe-icon {
    fill: white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20%;
    right: 20px;
}
.modal-form {
    max-width: 408px;
    height: 584px;
}
.modal-content-input {
    width: 330px;
   
}
.modal-content-textarea {
    width: 330px;
}
}